.city-drop-down {
  display: flex;
}
.city-minus-icon {
  margin-right: 0px;
}

#dropdown-item {
  text-align: end;
}

#dropdown-item1:focus {
  color:  red;
}

#dropdown-item {
  text-align: end;

}
