#root
  > div.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.shadow-sm
  > nav
  > a {
  text-decoration: none;
}
#root
  > div.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.shadow-sm
  > nav
  > a:hover {
  border-top: 2px solid green;
  border-bottom: 2px solid green;
  border-radius: 15px;
}