.card {
  background-color: lightsteelblue;
}

h2,
p {
  align-self: center;
}

.col {
  cursor: pointer;
}

.selected {
  opacity: 0.7;
  transform: scale(0.9);
}

.selected:hover {
  opacity: 1;
}

.dateList {
  font-style: italic;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
